* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-app {
  width: 520px;
  display: flex;
  min-height: 600px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
  background: #cbcedf;
}

.complete {
  opacity: 0.4;
  background-color: green;
  text-decoration: line-through;
}

.task {
  margin-left: 18px;
}

.todo-form {
  margin: 32px 0px 0px 0px;
}

.todo-input {
  width: 300px;
  color: #000;
  outline: none;
  background: #fff;
  border-radius: 4px 0 0 4px;
  border: 2px solid #000;
  padding: 14px 32px 14px 16px;
}

.todo-input::placeholder {
  color: #b88b8b;
}

.todo-button {
  color: #000;
  border: none;
  padding: 16px;
  outline: none;
  cursor: pointer;
  background: #fff;
  border-radius: 0 4px 4px 0;
  border: 1px solid #000;
  text-transform: capitalize;
}

.clean-button{
  padding: 9px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  background: orange;
  }


.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  width: 76%;
  padding: 16px;
  display: flex;
  color: #fff;
  margin: 4px auto;
  border-radius: 7px;
  align-items: center;
  background: #149fff;
}

.todo-status-row {
  width: 76%;
  padding: 16px 0px;
  display: flex;
  color: #000;
  margin: 4px auto;
  align-items: center;
  justify-content: space-between
}

.todo-status {
  display: flex;
}
.icons {
  display: flex;
  font-size: 24px;
  cursor: pointer;
  align-items: center;
}

.delete-icon {
  color: #fff;
  margin-right: 5px;
}

.completed-icon {
  color: #fff;
}

.separator {
  margin: 0 2px;
}